@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
    html:focus-within{
        @apply scroll-smooth
    }
    *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary: rgba(15,23,42,0.9);
  --secondary: #7c3749;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  /* border: 3px solid var(--primary); */
}
}

@layer components {
    .heroButton {
        @apply px-6 py-2 mx-3 my-2 border border-[rgb(107,114,128)] rounded-full uppercase text-sm tracking-widest text-gray-500 transition-all hover:border-[#bf665f] hover:text-[#bf665f]
    }
    .sectionHeader {
        @apply w-full text-center uppercase tracking-[20px] text-gray-300 text-2xl
    }
    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40
    }

    .aboutList li {
      @apply before:content-["▹"] before:text-[#bf665f]
    }

    
}

